/* You can add global styles to this file, and also import other style files */

/**
Paleta de colores 

Claro bg: #ffbf80
Oscuro : #b35900

Otro claro: #ffd699
oscuro: #ff9933

*/

body {
    background-color: #ffbf80;
}

nav {
    background-color: #ffd699;
    color: black;
}

footer {
    background-color: #ff9933;
}

.forSale {
    background-color: #99ff66;
}