/* You can add global styles to this file, and also import other style files */

/**
Paleta de colores 

Claro bg: #ffa64d
Oscuro : #b35900

Otro claro: #ffd699
oscuro: #b36b00

*/

body {
    background-color: #ffa64d;
}

nav {
    background-color: #ffd699;
    color: black;
}

footer {
    background-color: #b36b00;
}