<div class="container">
    <h4 class="text-center mt-5">Envianos un mail con tu consulta</h4>
    <div class="row mb-3 mt-3">
        <div class="col">
            <div class="form-floating">
                <input type="text" class="form-control form-control-sm" id="floatingName" placeholder="Nombre">
                <label for="floatingName">Nombre</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control form-control-sm" id="floatingLastname" placeholder="Apellido">
                <label for="floatingLastname">Apellido</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control form-control-sm" id="floatingAdress" placeholder="Dirección">
                <label for="floatingAdress">Dirección</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control form-control-sm" id="floatingTelephone" placeholder="Teléfono">
                <label for="floatingTelephone">Teléfono</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating">
                <input type="email" class="form-control form-control-sm" id="floatingInput" placeholder="nombre@ejemplo.com">
                <label for="floatingInput">Email</label>
            </div>
            <div >
                <label for="exampleFormControlTextarea1" class="form-label">Escribí tu consulta</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
            </div>
        </div>
    </div>
    <div class="d-grid gap-2">
        <button class="btn btn-success" type="button">Enviar</button>
      </div>
</div>